body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

    background: rgb(162, 199, 217);
}

main {
    padding: 20px;
    border: solid 1px rgb(48, 50, 48);
    background-color: rgb(234, 237, 239);
   
}

input {
    cursor: pointer;
}

#inputnumber {
    margin: 10px auto 20px auto;
    padding: 25px;
    width: 250px;
    text-align: right;
    background-color:rgb(255, 255, 255);
    border: solid 1px rgb(48, 50, 48);
}

/* REMOVER SETAS DO INPUT NUMBER
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */

#comandsection {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#comandsection input:nth-child(1), #comandsection input:nth-child(2){
    font-size: 20px; 
    padding: 17px;
}

#comandsection input:nth-child(3) {
    font-size: 40px;
    width: 70px; 
    padding: 5.5px; 
    background: rgba(213, 17, 17, 0.91);
    border: solid 1px rgb(112, 19, 19);
    border-radius: 3px;

}

#comandsection input:nth-child(3):hover {
    background: rgba(229, 15, 15, 0.732);
}

div {
    display: flex;
    padding-top: 15px;
}

#numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;    
    gap: 10px;
    padding-right: 20px;
}


#operator {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-right: 10px;
}

#operator input {
    font-size: 20px;
    padding: 10px;
    width: 65px;    
}

#numbers input{
    font-size: 20px;
    padding: 15px;
    width: 70px;    
}

